<!DOCTYPE html>
<html>
<head>

	<title>Search page</title>

	<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/app.css">

</head>
<body>


	<div class="wrapper">
	 	<div class="big-center" id="child-wrap">
			<img class="logo" src="/img/logo.png">
			<input type="text" name="search" id="search-term">
			<p class="display">Movie search Engine</p>
		</div>

	 	<div id="results">

		</div>
	</div>

	<!-- CUSTOM JS -->
	<script type="text/javascript" src="/js/script.js"></script>


</body>
</html>
